<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Akshar</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{url_for ('static', filename='style.css')}}"
    />
  </head>
  <body>
    <div class="header">
      <nav>
        <img src="{{url_for ('static', filename='logo.png')}}" class="logo" />
        <div>
          <div class="language-btn" id="google_translate_element"></div>
          <button>Sign In</button>
        </div>
      </nav>
      <div class="header-content">
        <h1>Text 2 Video</h1>
        <h3>With multilingual support</h3>
        <p>
          Break the language barrier with a simple text prompt in the language
          of your choice
        </p>
        <form class="text-prompt" name="passdata" action="." method="post">
          <input
            type="text"
            id="text-input"
            name="text-input"
            placeholder="Enter text"
            required
          />
          <button type="submit" id="submit-button">Generate Video</button>
        </form>
        <a href="two" style="cursor: pointer; text-decoration: none"
          ><h3>
            <u>Try our text-to-speech</u>
          </h3></a
        >
      </div>
    </div>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          { pageLanguage: "en" },
          "google_translate_element"
        );
      }
    </script>
  </body>
</html>
